.navbar-custom {
      background-color: #000E88;
    }

    .navbar-custom .navbar-brand,.navbar-custom .nav-link {
        background-color: #4040c0 !important;font-weight: bold;
        }

        .logoZ{
          width: 4.5rem;
          height: 4.5rem;
          margin-left: 1;

        }

.img-perfil{
          width: 9rem;
          height: 9rem;
          border-radius: 0.5rem;
          margin-left: 5%;

        }

        .Pname{
          font-size: 1.5rem;
          font-weight: bold;
          color: #000E88;
          margin-left: 5%;
          display: flex;
          flex-direction: column;
          padding: 1rem;
        }

.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 50%;
border: 0px solid #000;
}
.parent .pp{
  border: 1px solid #000;

}

 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
      height: 100%;
    }

    .container {
      display: flex;
      height: 100vh; 
      width: 100vw;   
    }

    .Dleft{
      width: 100%; 
        max-height: max-content;
    }
    .Dright{
width: 100%; 
        max-height: max-content;
    }

    .Dcenter {
      width: 100%;
      max-height: max-content;
      background-color: #f08080;
    }

        * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
      height: 100%;
      background-color: aliceblue;
    }

    .container {
      display: flex;
      height: 100vh; 
      width: 100vw;  
      background-color: aliceblue; 
    }

    .Dleft{
      width: 100%; 
        max-height: max-content;
        background-color: aliceblue;

    }

    .Dcenter {
      width: 100%;
      max-height: max-content;
      background-color: aliceblue;
              margin-left: 20%;
    }

    .botones{
      border-radius: 1rem;
      margin-left: 2%;
      width: 12rem;
      height: 5rem;
      font-size: 1.5rem;
      text-decoration:double;
      font-weight: 4rem;
      background-color: #4a90e2;
      color: white;
      transition: background-color 0.3s;
      border: 0cap;
    }

     .contenedor-punteado {
      border: 2px dotted #000; /* Borde punteado de 2px en color negro */
      padding: 20px;
      margin: 20px;
      width: 20%;
      border-radius: 2rem;
      width: 40%;
      height: 30%;
    }

    .link{
      font-size: 1.5rem;
    }

    .cards {
  grid-auto-rows: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 1.5rem; /* Espacio entre cartas */
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: var(--colorC--);
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 4px 4px 90px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.card {
  width: 80%;      /* Ocupa todo el ancho de la columna */
  min-width: 0%;     /* Permite que se reduzca si es necesario */
  box-sizing: border-box;
}

.card-container {
    width: 50%;
    height: 80%;
    perspective: 1000px;
    margin: 50px auto;
    aspect-ratio: unset;
}

.card-title{
    font-family: var(--Titulo);
    font-size: 1.5rem;
    color: var(--negro);
    text-align: center;
    margin-bottom: 10px;
    margin-bottom: 0.5rem;
}

.card-text{
  margin-top: 1rem;
  font-family: var(--Texto);
  text-align: justify;
  flex-grow: 1; /* hace que el texto use el espacio disponible */
  margin-bottom: 1rem;
}

.card {
    width: 100%;
    height: 100%;
    position: relative; 
    transform-style: preserve-3d; 
    transition: transform 0.8s ease-in-out; 
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 12rem;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;      /* Botón abajo */
    align-items: center;            /* Centra horizontalmente */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  .card-face img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    
}


.card-front {
    transform: rotateY(0deg);
    background-color: #f0f0f0;
}

.card-back {
    transform: rotateY(180deg);
    background-color: #e0e0e0;
}

.card-container:hover .card {
    transform: rotateY(180deg);
    rotate: -2deg; 
    
}
